# Multiprotein complexes

units       real
dimension   3
boundary    s s s
atom_style  full

bond_style  harmonic

read_data {{params.data_file_name}}

#--------  Input variables  ------#
variable T equal {{params.temperature}}                # Temperature of the system in K
variable nts equal {{params.n_steps}}           # Production run in Simulation steps
variable csx equal {{params.ionic_strength}}                # Electrolyte solution ionic strength in mM
#---------------------------------

#-------  Derived variables ------#
variable cs equal (${csx}/1000)*6.022e26 # Electrolyte solution ionic strength in m^-3
variable er equal 5321/${T}+233.76-0.9297*${T}+0.001417*${T}*${T}-0.0000008292*${T}*${T}*${T} # Relative dielectric constant of the medium
variable bjerrum equal (1.671e-5)/(${er}*${T}) # Bjerrum length in meters
variable debyelen equal sqrt(1/(8*3.141592*${bjerrum}*${cs})) # Debye length in meters
variable debyelenang equal ${debyelen}*1e10 # Debye length in Angstrom
variable kappa equal 1/${debyelenang} # Inverse of debye length in Angstrom^-1 to go to pair style command
#----------------------------------

pair_style  hybrid/overlay wf/cut 25.0 yukawa ${kappa} 0.0
bond_coeff          1     9.600     3.81
#bond_coeff          2     9.600     5.0
pair_coeff * * wf/cut 0.0 0.0 1 1 0.0
### Epsilon scaling
### Globular-globular 0.7; globular-IDP skih and IDP-IDP 1

{{params.pairs}}
pair_coeff 3 3 yukawa 4.00000 35.
pair_coeff 3 5 yukawa 4.00000 35.
pair_coeff 3 7 yukawa -4.33758599996 35.
pair_coeff 3 8 yukawa -4.33758599996 35.
pair_coeff 3 16 yukawa 1.47872249999 35.
pair_coeff 3 23 yukawa 4.00000 35.
pair_coeff 3 25 yukawa 4.00000 35.
pair_coeff 3 36 yukawa 1.55655 35.
pair_coeff 5 5 yukawa 4.00000 35.
pair_coeff 5 7 yukawa -4.92907499995 35.
pair_coeff 5 8 yukawa -4.92907499995 35.
pair_coeff 5 16 yukawa 1.47872249999 35.
pair_coeff 5 23 yukawa 4.00000 35.
pair_coeff 5 25 yukawa 4.00000 35.
pair_coeff 5 27 yukawa -4.92907499995 35.
pair_coeff 5 28 yukawa -4.92907499995 35.
pair_coeff 5 36 yukawa 1.55655 35.
pair_coeff 7 7 yukawa 4.00000 35.
pair_coeff 7 8 yukawa 4.00000 35.
pair_coeff 7 16 yukawa  -2.46453749998 35.
pair_coeff 7 23 yukawa -4.33758599996 35.
pair_coeff 7 25 yukawa -4.92907499995 35.
pair_coeff 7 27 yukawa 4.00000 35.
pair_coeff 7 28 yukawa 4.00000 35.
pair_coeff 7 36 yukawa  -2.46453749998 35.
pair_coeff 8 8 yukawa 4.00000 35.
pair_coeff 8 16 yukawa 1.47872249999 35.
pair_coeff 8 23 yukawa -4.33758599996 35.
pair_coeff 8 25 yukawa -4.92907499995 35.
pair_coeff 8 27 yukawa 4.00000 35.
pair_coeff 8 28 yukawa 4.00000 35.
pair_coeff 8 36 yukawa  -2.46453749998 35.
pair_coeff 16 16 yukawa 1.0377 35.
pair_coeff 16 23 yukawa 1.55655 35.
pair_coeff 16 25 yukawa 1.55655 35.
pair_coeff 16 27 yukawa  -2.46453749998 35.
pair_coeff 16 28 yukawa  -2.46453749998 35.
pair_coeff 16 36 yukawa 1.0377 35.
pair_coeff 23 23 yukawa 4.00000 35.
pair_coeff 23 25 yukawa 4.00000 35.
pair_coeff 23 36 yukawa 1.55655 35.
pair_coeff 25 25 yukawa 4.00000 35.
pair_coeff 25 27 yukawa -4.92907499995 35.
pair_coeff 25 28 yukawa -4.92907499995 35.
pair_coeff 25 36 yukawa 1.47872249999 35.
pair_coeff 27 27 yukawa 4.00000 35.
pair_coeff 27 28 yukawa 4.00000 35.
pair_coeff 27 36 yukawa  -2.46453749998 35.
pair_coeff 28 28 yukawa 4.00000 35.
pair_coeff 28 36 yukawa  -2.46453749998 35.
pair_coeff 36 36 yukawa 1.0377 35.
pair_coeff 3 27 yukawa -4.33758599996 35.
pair_coeff 3 28 yukawa -4.33758599996 35.
pair_coeff 23 27 yukawa -4.33758599996 35.
pair_coeff 23 28 yukawa -4.33758599996 35.

special_bonds fene
neighbor  3.5 multi

neigh_modify  every 10 delay 0

comm_style    tiled

{{params.groups_definition_str}}

########   COMPUTE RESULTS  #######

## Radius

compute k all gyration
compute cc1 all chunk/atom molecule
compute radio all gyration/chunk cc1
variable media_radio equal ave(c_radio)

fix ex all print {{params.n_save_rg}} "${media_radio}" file gyration.out screen no
fix radio all ave/time 100000 1 100000 c_radio file radio.out mode vector

### Density profile
compute densidad all chunk/atom bin/1d z lower 1
fix 3 all ave/chunk {{params.n_save_density}} 1 {{params.n_save_density}} densidad density/mass file density.profile
#######################################

dump          1 all custom {{params.n_save_traj}} result.lammpstrj id mol type q xu yu zu
dump_modify   1 sort id

thermo        1000
thermo_style  custom step pe ebond ecoul epair press ke temp lx ly lz pxx pyy pzz  spcpu density
thermo_modify flush yes

restart       1000000 restart1.tmp restart2.tmp

{{params.run_str}}
